<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Source Code</title>
    <link href="css/source-code.css" type="text/css" rel="stylesheet" />
</head>
<body class="source-code-page">
    <pre class="prettyprint source linenums"><code><?js= code ?></code></pre>
    <script type="text/javascript" src="js/source-code.js"></script>
</body>
</html>